In [6]:
from exam_functions import *
import exam_toolbox as et
import numpy as np
from sklearn.decomposition import PCA

In [7]:
# 1
# carta

In [8]:
V = np.array(
    [
        [0.04, -0.12, -0.14, 0.35, 0.92],
        [0.06, 0.13, 0.05, -0.92, 0.37],
        [-0.03, -0.98, 0.08, -0.16, -0.05],
        [-0.99, 0.03, 0.06, -0.02, 0.07],
        [-0.07, -0.05, -0.98, -0.11, -0.11],
    ]
)

In [9]:
# 2
S = [14.4, 8.19, 7.83, 6.91, 6.01]
var_explained(S, plot=False, show_df=False)

     k  var_explained
0  1.0       0.494169
1  2.0       0.654022
2  3.0       0.800130
3  4.0       0.913920
4  5.0       1.000000

In [10]:
# 3
xab = np.array([0, 0, 2.86, 0, 0])

print(xab @ V)
# le prime 2 pc sono negative -> il vettore da A a B Ã¨ negativo

[-0.0858 -2.8028  0.2288 -0.4576 -0.143 ]

In [11]:
# 4
data = [
    [0.0, 2.91, 0.63, 1.88, 1.02, 1.82, 1.92, 1.58, 1.08, 1.43],
    [2.91, 0.0, 3.23, 3.9, 2.88, 3.27, 3.48, 4.02, 3.08, 3.47],
    [0.63, 3.23, 0.0, 2.03, 1.06, 2.15, 2.11, 1.15, 1.09, 1.65],
    [1.88, 3.9, 2.03, 0.0, 2.52, 1.04, 2.25, 2.42, 2.18, 2.17],
    [1.02, 2.88, 1.06, 2.52, 0.0, 2.44, 2.38, 1.53, 1.71, 1.94],
    [1.82, 3.27, 2.15, 1.04, 2.44, 0.0, 1.93, 2.72, 1.98, 1.8],
    [1.92, 3.48, 2.11, 2.25, 2.38, 1.93, 0.0, 2.53, 2.09, 1.66],
    [1.58, 4.02, 1.15, 2.42, 1.53, 2.72, 2.53, 0.0, 1.68, 2.06],
    [1.08, 3.08, 1.09, 2.18, 1.71, 1.98, 2.09, 1.68, 0.0, 1.48],
    [1.43, 3.47, 1.65, 2.17, 1.94, 1.8, 1.66, 2.06, 1.48, 0.0],
]
df = pd.DataFrame(data)

ARD(df, 3, 2)

The density for observation O4 is 0.684931506849315
The average relative density for observation O4 is 0.7148305214022026

0.7148305214022026

In [12]:
# 5
pesi = np.array([0.3333, 0.3333, 0.3333])
vect_dist = np.array([2.11, 1.15, 1.09])
gmm_weighted_density(0.5, 10, vect_dist, pesi)

0.005717373569359967